<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- head 中 -->
    <link rel="stylesheet" href="https://cdn.bootcss.com/weui/1.1.3/style/weui.min.css">
    <link rel="stylesheet" href="https://cdn.bootcss.com/jquery-weui/1.2.1/css/jquery-weui.min.css">
    <link href="/css/jquery.searchableSelect.css" rel="stylesheet">

    <title>绑定门店页面</title>
    <style type="text/css">
        body {
            background-color: #ededed;
        }
    </style>
</head>
<body>
<div class="page">
    <div class="page__bd" style="margin-top:30px;">
        <input type="hidden" th:value="${openId}" name="openId" id="openId" >
        <div class="weui-cells__title">店员信息</div>
        <div class="weui-cells">
            <div class="weui-cell">
                <div class="weui-cell__bd">
                    <input class="weui-input" type="text" placeholder="姓名" name="name" id="name" th:value="${seller.name}">
                </div>
            </div>
            <div class="weui-cell">
                <div class="weui-cell__bd">
                    <input class="weui-input" type="text" placeholder="手机号" name="phone" id="phone" th:value="${seller.phone}">
                </div>
            </div>
        </div>
        <div class="weui-cells__title">选择门店</div>
        <div class="weui-cell">
            <select name="storeid" id="storeid" th:field="${seller.storeid}">
                <option th:each="c:${list}" th:text="${c.name}" th:value="${c.id}"></option>
            </select>
        </div>
        <div class="weui-btn-area">
            <a href="javascript:;" class="weui-btn weui-btn_block weui-btn_primary">确定</a>
        </div>
    </div>
    <div class="page__bd page__bd_spacing" >
        <div class="weui-footer weui-footer_fixed-bottom" style="background-color: #ffffee;height: 20px;bottom: 0">
            <p class="weui-footer__text">启凡科技提供技术支持</p>
        </div>
    </div>
</div>
</body>


<!-- body 最后 -->
<script src="https://cdn.bootcss.com/jquery/1.11.0/jquery.min.js"></script>
<script src="https://cdn.bootcss.com/jquery-weui/1.2.1/js/jquery-weui.min.js"></script>
<script src="/js/jquery.searchableSelect.js"></script>
<script type="text/javascript">
    function onBridgeReady(){
        WeixinJSBridge.call('hideOptionMenu');
    }

    if (typeof WeixinJSBridge == "undefined"){
        if( document.addEventListener ){
            document.addEventListener('WeixinJSBridgeReady', onBridgeReady, false);
        }else if (document.attachEvent){
            document.attachEvent('WeixinJSBridgeReady', onBridgeReady);
            document.attachEvent('onWeixinJSBridgeReady', onBridgeReady);
        }
    }else{
        onBridgeReady();
    }
    $(function(){
        $('select').searchableSelect();
    });

    $(".weui-btn").on("click",function(){
        var openId=$("#openId").val();
        var storeId = $("#storeid").val();
        var name = $("#name").val();
        var phone = $("#phone").val();
        if(openId=="" || storeId=="" || name=="" || phone==''){
            // $.toast("绑定信息不正确！", "forbidden");return false;
        }
        $.post("/wx/store/bind", {openId:openId,storeId:storeId,name:name,phone:phone},function(data){
            //alert(data.code);
            if(data.code == 0){
                $.toast("绑定成功",function (){
                    window.location.href='/wx/store/bindDetail?sellerId='+data.sellerId;
                });

            }else{
                $.toast("绑定失败！", "forbidden");return false;
            }
        });
    });


</script>
</html>
