<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<meta charset="utf-8">
<head>
    <link href="layui/css/layui.css" rel="stylesheet">
    <link href="css/bootstrap.min14ed.css?v=3.3.6" rel="stylesheet">
    <link href="css/font-awesome.min93e3.css?v=4.4.0" rel="stylesheet">
    <link href="css/animate.min.css" rel="stylesheet">
    <link href="css/style.min862f.css?v=4.1.0" rel="stylesheet">
</head>
<body class="gray-bg">
<script type="text/html" id="toolbarMember">
    <div class="layui-btn-group">
        <button type="button" class="layui-btn layui-btn-radius" onclick="downloadfile()">导出数据</button>
    </div>
</script>
<div class="container-div">
     <div class="row">
        <table id="member" lay-filter="member"></table>
    </div>
</div>

<script src="js/jquery.min.js?v=2.1.4"></script>
<script src="js/plugins/metisMenu/jquery.metisMenu.js"></script>
<script src="js/plugins/slimscroll/jquery.slimscroll.min.js"></script>
<script src="js/plugins/layer/layer.min.js"></script>
<script src="js/hplus.min.js?v=4.1.0"></script>
<script type="text/javascript" src="js/contabs.min.js"></script>
<script src="js/plugins/pace/pace.min.js"></script>
<script src="layui/layui.js"></script>
<script th:inline="javascript">
    $(function () {
        sellerManage()
    });

    function sellerManage() {
        layui.use('table', function () {
            var table = layui.table;

            table.render({
                elem: '#member'
                , height: 'full-15'
                , toolbar: '#toolbarMember'
                , url: '/member/list/' //数据接口
                , page: true //开启分页
                , cols: [
                    [ {
                        field: 'id',
                        width:'5%',
                        title: 'id',
                        sortable: true
                    },
                        {
                            field: 'name',
                            width:'5%',
                            title: '姓名',
                            sortable: true
                        },
                        {
                            field: 'phone',
                            title: '电话',
                            width:'7%',
                            sortable: true
                        },
                        {
                            field: 'idcard',
                            title: '会员卡编号',
                            width:'5%',
                            sortable: true
                        }, {
                        field: 'gender',
                        title: '性别',
                        width:'5%',
                        sortable: true
                    }, {
                        field: 'birthday',
                        title: '生日',
                        width: '7%',
                        sortable: true
                    }, {
                        field: 'openid',
                        title: 'openid',
                        width:'9%',
                        sortable: true
                    },
                        {
                            field: 'nickname',
                            title: '昵称',
                            width:'5%',
                            sortable: true
                        },
                        {
                            field: 'bonus',
                            title: '积分',
                            width:'5%',
                            sortable: true
                        },
                        {
                            field: 'balance',
                            title: '余额',
                            width:'5%',
                            sortable: true
                        },
                        {
                            field: 'status',

                            title: '状态',
                            width:'5%',
                            sortable: true
                        },
                        {
                            field: 'cardno',
                            title: '会员卡号',
                            width:'7%',
                            sortable: true
                        },
                        {
                            field: 'cardcode',
                            title: '卡代码',
                            width:'5%',
                            sortable: true
                        },
                        {
                            field: 'type',
                            title: '类型',
                            width:'5%',
                            sortable: true,
                            templet:function (d) {
                                if(d.type=='1'){
                                    return '新会员';
                                }else {
                                    return '老会员';
                                }

                            }

                        },

                        {
                            field:'createtime',
                            title: '创建时间',
                            width:'10%',
                            sortable: true

                        },
                        {
                            field: 'bindtime',
                            title: '绑定时间',
                            width:'10%',
                            sortable: true
                        }
                    ]
                ]
            });
        });
    }
    function downloadfile(){
        window.location.href=  "member/UserExcelDownloads";
    }

</script>
</body>
</html>