<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
    <meta charset="utf-8">
    <head th:include="include :: header">

    </head>
    <body class="gray-bg">
        <div class="container-div">


            <script type="text/html" id="typeTpl">
                {{#  if(d.type == 1){ }}
                <span>网页类型</span>
                {{#  } }}
                {{#  if(d.type == 2){ }}
                <span>点击类型</span>
                {{#  } }}
                {{#  if(d.type == 3){ }}
                <span>小程序类型</span>
                {{#  } }}
            </script>


            <!--表头设置菜单管理-->
            <script type="text/html" id="toolbarMenu">
                <button class="layui-btn layuiadmin-btn-list" data-type="add" layui-event="add" onclick="add()">添加</button>
            </script>

            <!--表格行元素的对象增删改查-->
            <script type="text/html" id="barMenu">
                <a class="layui-btn layui-btn-sm" lay-event="edit">编辑</a>
                <a class="layui-btn layui-btn-danger layui-btn-sm" lay-event="delete">删除</a>
            </script>

            <div class="row">
                <div class="col-sm-12 search-collapse">
                    <div class="col-sm-12 select-table table-striped">
                        <table id="menu" lay-filter="menu"></table>
                    </div>
                </div>

            </div>
        </div>

        <div th:include="include :: footer"></div>

        <script >
            $(function(){
              menuManage()
            });
            function menuManage(){
                layui.use('table', function(){
                    var table = layui.table;
                    //第一个实例
                    table.render({
                        elem: '#menu'
                        ,height: 480
                        ,toolbar: '#toolbarMenu'
                        ,url: '/menu/list/' //数据接口
                        ,page: true //开启分页
                        ,cols: [
                            [ //表头
                                {field: 'id', title: 'ID', width:100, sort: true,fixed: 'left'}
                                ,{field: 'name', title:'菜单标题', width:200,fixed: 'left'}
                                ,{field: 'type', title:'类型', width:100,fixed: 'left',templet: '#typeTpl'}
                                ,{field: 'appid', title:'小程序id', width:200, sort: true, fixed: 'left'}
                                ,{field: 'pagepath', title:'小程序路径', width:200,fixed: 'left'}
                                ,{field: 'url', title: '网页链接', width:200,fixed: 'left'}
                                ,{field:'action', width:200, title: '操作',align:'center', toolbar: '#barMenu'}
                            ]
                        ]
                    });
                    table.on('tool(menu)', function(obj){ //注：tool是工具条事件名，test是table原始容器的属性 lay-filter="对应的值"
                        var data = obj.data; //获得当前行数据
                        var layEvent = obj.event; //获得 lay-event 对应的值（也可以是表头的 event 参数对应的值）
                        var tr = obj.tr; //获得当前行 tr 的DOM对象
                        if(layEvent === 'delete'){ //删除
                            layer.confirm('您确定删除这条数据吗？', function(index){
                                var id= data.id;
                                $.post("/menu/delete",{id:id},function (result) {
                                    if (result.success){
                                        layer.alert("提交成功",function () {
                                            window.location.reload();
                                        });
                                    } else{
                                        layer.alert("删除失败");
                                    }
                                })
                            });
                        } else if(layEvent === 'edit'){ //修改
                            layer.open({
                                type: 2,
                                title: '修改菜单页面',
                                shade: 0.2,
                                area: ['500px', '90%'],
                                content: '/menu/edit?id='+ data.id, //iframe的url
                                end: function () {
                                    menuManage();
                                }
                            });
                        }
                    });
                });

            }

            //弹出添加菜单页面
            function add() {
                //iframe层
                layer.open({
                    type: 2,
                    title: '添加菜单页面',
                    shadeClose: true,
                    shade: 0.2,
                    area: ['500px', '90%'],
                    content: '/menu/add',
                    end: function () {
                        menuManage();
                    }
                });
             }

        </script>
    </body>
</html>