<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<meta charset="utf-8">
<head th:include="include :: header">

</head>
<body style="width:80%;margin-top:10px;margin-left:auto;margin-right: auto;overflow-y:hidden;">
<form class="layui-form layui-form-pane" action="" method="post">
            <input type="hidden" th:value="${seller.id}" name="id" id="id" >
            <input type="hidden" name="audittime" id="audittime" th:value="${#dates.format(new java.util.Date().getTime(), 'yyyy-MM-dd HH:mm:ss')}" readonly="true" class="layui-input">
    <div class="layui-form-item">
        <div class="layui-input-inline">
            <input type="radio" name="status" value="1" th:attr ="checked=${seller.status== 1 ?true:false}"  title="审核通过" >
            <input type="radio" name="status" value="2" th:attr ="checked=${seller.status== 2 ?true:false}"  title="审核未通过">
        </div>
    </div>

    <div class="layui-form-item">
        <div class="layui-input-block">
            <button class="layui-btn" lay-submit="editSave" lay-filter="editSave" >提交</button>
            <button type="reset" class="layui-btn layui-btn-primary">重置</button>
        </div>
    </div>
</form>

<div th:include="include :: footer"></div>

<script>

    layui.use(['form','layer'], function () {
        var form = layui.form
            , layer = layui.layer;
        //监听提交
        //审核通过
        form.on('submit(editSave)', function (data) {
            var id = data.field.id;
            var audittime = data.field.audittime;
            let status = $('input[name="status"]:checked ').val();
                $.post('/seller/pass', {id:id,audittime:audittime,status:status}, function (result) {
                    if (result.success) {
                        layer.closeAll('loading');
                        layer.load(2);
                        layer.msg("审核成功", {icon: 6});
                        setTimeout(function () {
                            window.parent.location.reload();//修改成功后刷新父界面
                        }, 2000);
                        //加载层-风格
                    } else {
                        layer.msg("审核失败，请重试", {icon: 5});
                    }
                });
                return false;
        });
    });

</script>
</body>
</html>